Node-Red_Flow.json
[
    {
        "id": "75574e5eea170178",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2e827818494dc9f",
        "type": "twilio-api",
        "name": "SMS Handler",
        "sid": "AC663f72804a9394e1342624cc45a0efac",
        "from": "+13309645395"
    },
    {
        "id": "2ec009f053814fb9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7324534d5245962c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5fbd6651211ddb24",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9ac0ff474d6c73f",
        "type": "ui_link",
        "name": "Map",
        "link": "http://192.168.2.14:1880/worldmap",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 2
    },
    {
        "id": "6c4f46c6a575c558",
        "type": "ui_group",
        "name": "Notification triger settings",
        "tab": "5fbd6651211ddb24",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f80719d3df2178f4",
        "type": "ui_group",
        "name": "Notification recipients",
        "tab": "5fbd6651211ddb24",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1df1ce1468055dc",
        "type": "ui_group",
        "name": "Export Data",
        "tab": "5fbd6651211ddb24",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c04b9063c0b25fa",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "7324534d5245962c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24b35f9c36ca6b80",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "7324534d5245962c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7ab06a16c405383",
        "type": "mqtt-broker",
        "name": "TTN",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b77e56633644ced7",
        "type": "sqlitedb",
        "db": "Data",
        "mode": "RWC"
    },
    {
        "id": "d8ac2548900f2e5d",
        "type": "twilio out",
        "z": "75574e5eea170178",
        "twilio": "a2e827818494dc9f",
        "twilioType": "sms",
        "url": "",
        "number": "+351913332508",
        "name": "SMS",
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "c9cd3907727d0b59",
        "type": "e-mail",
        "z": "75574e5eea170178",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "gproo@iscte-iul.pt",
        "dname": "Gmail",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "309357390ab388c5",
        "type": "ui_gauge",
        "z": "75574e5eea170178",
        "name": "",
        "group": "1c04b9063c0b25fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "faf1d75c094f0e6e",
        "type": "ui_slider",
        "z": "75574e5eea170178",
        "name": "",
        "label": "Minimum ºC",
        "tooltip": "",
        "group": "6c4f46c6a575c558",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "Min_C",
        "topicType": "str",
        "min": "-40",
        "max": "80",
        "step": 1,
        "className": "",
        "x": 490,
        "y": 960,
        "wires": [
            [
                "f7958b87a08a6fd7",
                "9761bef847ac2f21"
            ]
        ]
    },
    {
        "id": "859263a11b19d1c4",
        "type": "worldmap",
        "z": "75574e5eea170178",
        "name": "",
        "lat": "39.6753",
        "lon": "-8.14679",
        "zoom": "7",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "c919454874dcae85",
        "type": "ui_chart",
        "z": "75574e5eea170178",
        "name": "",
        "group": "1c04b9063c0b25fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5ef9349f434c5640",
        "type": "ui_gauge",
        "z": "75574e5eea170178",
        "name": "",
        "group": "24b35f9c36ca6b80",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "c0aa8facfeb49d78",
        "type": "ui_chart",
        "z": "75574e5eea170178",
        "name": "",
        "group": "24b35f9c36ca6b80",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "012db9f0ec53a6d7",
        "type": "ui_text_input",
        "z": "75574e5eea170178",
        "name": "Email_input",
        "label": "",
        "tooltip": "",
        "group": "f80719d3df2178f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "08c5f59262324108"
            ]
        ]
    },
    {
        "id": "5d461fa20e660758",
        "type": "ui_slider",
        "z": "75574e5eea170178",
        "name": "",
        "label": "Maximum ºC",
        "tooltip": "",
        "group": "6c4f46c6a575c558",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "Max_C",
        "topicType": "str",
        "min": "-40",
        "max": "80",
        "step": 1,
        "className": "",
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "b0cc8c39a3270b81",
                "9761bef847ac2f21"
            ]
        ]
    },
    {
        "id": "0e84feeb2f49dab7",
        "type": "ui_slider",
        "z": "75574e5eea170178",
        "name": "",
        "label": "Minimum %RH",
        "tooltip": "",
        "group": "6c4f46c6a575c558",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "Min_H",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 500,
        "y": 1080,
        "wires": [
            [
                "38647f0702c68001",
                "9761bef847ac2f21"
            ]
        ]
    },
    {
        "id": "8645d53a44606e08",
        "type": "ui_slider",
        "z": "75574e5eea170178",
        "name": "",
        "label": "Max_H",
        "tooltip": "Sets maximum relative humidity triger",
        "group": "6c4f46c6a575c558",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "Max_H",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1140,
        "wires": [
            [
                "2cf7a90f61b6b384",
                "9761bef847ac2f21"
            ]
        ]
    },
    {
        "id": "08c5f59262324108",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "f80719d3df2178f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Email_current",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "ba2c9e8e8dc283fc",
        "type": "ui_text_input",
        "z": "75574e5eea170178",
        "name": "Phone_input",
        "label": "",
        "tooltip": "",
        "group": "f80719d3df2178f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "563477ed329ef407"
            ]
        ]
    },
    {
        "id": "563477ed329ef407",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "f80719d3df2178f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Phone_current",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "f7958b87a08a6fd7",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "6c4f46c6a575c558",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "minC",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 960,
        "wires": []
    },
    {
        "id": "b0cc8c39a3270b81",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "6c4f46c6a575c558",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "maxC",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "38647f0702c68001",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "6c4f46c6a575c558",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "minH",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2cf7a90f61b6b384",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "6c4f46c6a575c558",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "maxH",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "39e63be215fff384",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "f80719d3df2178f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "E-mail:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 740,
        "wires": []
    },
    {
        "id": "f4573d97889d56e3",
        "type": "ui_text",
        "z": "75574e5eea170178",
        "group": "f80719d3df2178f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phone:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 860,
        "wires": []
    },
    {
        "id": "cd0668b09672d980",
        "type": "ui_button",
        "z": "75574e5eea170178",
        "name": "",
        "group": "f80719d3df2178f4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "1586a67f09011887",
        "type": "mqtt in",
        "z": "75574e5eea170178",
        "name": "LoRa_In",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ab06a16c405383",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "c450758ddaa2cbf6",
                "4d98b29236c0df74"
            ]
        ]
    },
    {
        "id": "296d65d5edc0e0fc",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.temp_c;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "c919454874dcae85",
                "309357390ab388c5"
            ]
        ]
    },
    {
        "id": "8fa967499a28a45b",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Humidade",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.humidity;\nmsg.topic = \"Humidade\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "5ef9349f434c5640",
                "c0aa8facfeb49d78"
            ]
        ]
    },
    {
        "id": "a20b07bf7433ef61",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Pressão Atmosférica",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.pressure;\nmsg.topic = \"Pressão Atmosférica\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "17418613a6118294",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Mapa",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 480,
        "wires": [
            [
                "859263a11b19d1c4"
            ]
        ]
    },
    {
        "id": "bdb8abfc15ca5ac3",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Velocidade",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.speed;\nmsg.topic = \"Velocidade\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c450758ddaa2cbf6",
        "type": "change",
        "z": "75574e5eea170178",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.uplink_message.decoded_payload.name",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.uplink_message.decoded_payload.icon",
                "pt": "msg",
                "to": "car",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "a9029b2e144cecff"
            ]
        ]
    },
    {
        "id": "e579164cc31aee4d",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Altitude",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.altitude;\nmsg.topic = \"Altitude\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4d2eeba2e4a4b562",
        "type": "sqlite",
        "z": "75574e5eea170178",
        "mydb": "b77e56633644ced7",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE Dados (date_time integer, latitude float, longitude float, temperature float, humidity float)",
        "name": "Dados",
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e774ecafd72ae00f",
        "type": "inject",
        "z": "75574e5eea170178",
        "name": "Create table",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "4d2eeba2e4a4b562"
            ]
        ]
    },
    {
        "id": "39ed855f11895ca2",
        "type": "sqlite",
        "z": "75574e5eea170178",
        "mydb": "b77e56633644ced7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Dados_Select",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "bbcb5a8fb650439b"
            ]
        ]
    },
    {
        "id": "f2d913b9a3e968ec",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "SQL Insert",
        "func": "var temp = String(msg.payload.uplink_message.decoded_payload.temp_c);\nvar humidity = String(msg.payload.uplink_message.decoded_payload.humidity);\nvar lat = String(msg.payload.uplink_message.decoded_payload.lat);\nvar lng = String(msg.payload.uplink_message.decoded_payload.lon);\nvar time = String(msg.payload.uplink_message.decoded_payload.name);\n\nmsg.topic = \"Insert into Dados (date_time, latitude, longitude, temperature, humidity) values ('\" + time + \"', \" + lat + \", \" + lng + \", \" + temp + \", \" + humidity + \")\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "6c3c3aa7f62d0000"
            ]
        ]
    },
    {
        "id": "6c3c3aa7f62d0000",
        "type": "sqlite",
        "z": "75574e5eea170178",
        "mydb": "b77e56633644ced7",
        "sqlquery": "msg.topic",
        "sql": "Select * from Dados",
        "name": "Dados_Insert",
        "x": 1280,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "bbcb5a8fb650439b",
        "type": "csv",
        "z": "75574e5eea170178",
        "name": "Csv",
        "sep": ";",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Timestamp, Latitude, Longitude, Temperatura, Humidade",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "1a134297cf0cf6c3"
            ]
        ]
    },
    {
        "id": "1a134297cf0cf6c3",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "filePath",
        "func": "msg.path = \"/data/static/files/sensor_values.csv\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 640,
        "wires": [
            [
                "8feded874484073e"
            ]
        ]
    },
    {
        "id": "8feded874484073e",
        "type": "file",
        "z": "75574e5eea170178",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1100,
        "y": 640,
        "wires": [
            [
                "baaba3fffa8f07c1"
            ]
        ]
    },
    {
        "id": "baaba3fffa8f07c1",
        "type": "trigger",
        "z": "75574e5eea170178",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1260,
        "y": 640,
        "wires": [
            [
                "6dea7414a306bdd5"
            ]
        ]
    },
    {
        "id": "6dea7414a306bdd5",
        "type": "change",
        "z": "75574e5eea170178",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 640,
        "wires": [
            [
                "e31cb0f21908a727"
            ]
        ]
    },
    {
        "id": "e31cb0f21908a727",
        "type": "ui_template",
        "z": "75574e5eea170178",
        "group": "d1df1ce1468055dc",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://localhost:1880/files/sensor_values.csv\", \"_blank\")\n            }\n        })\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "21faccfbdb1be938",
        "type": "ui_form",
        "z": "75574e5eea170178",
        "name": "",
        "label": "",
        "group": "d1df1ce1468055dc",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "From",
                "value": "init_date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Until",
                "value": "final_date",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "init_date": "",
            "final_date": ""
        },
        "payload": "",
        "submit": "Export",
        "cancel": "Clear",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "7aaeaca72c7fe77d"
            ]
        ]
    },
    {
        "id": "7aaeaca72c7fe77d",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Sql Select",
        "func": "var StartDate = msg.payload['init_date'];\nvar Unix_StartDate = new Date(StartDate).getTime();\n\nvar EndDate = msg.payload['final_date'];\nvar Unix_EndDate = new Date(EndDate).getTime();\n\nmsg.topic = 'Select strftime(\"%d/%m/%Y %H:%M:%S\", date_time / 1000, \"unixepoch\", \"localtime\") as Timestamp, latitude as Latitude, longitude as Longitude, temperature as Temperatura, humidity as Humidade from Dados Where date_time >= ' + Unix_StartDate + ' and date_time <= ' + Unix_EndDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "39ed855f11895ca2"
            ]
        ]
    },
    {
        "id": "a9029b2e144cecff",
        "type": "switch",
        "z": "75574e5eea170178",
        "name": "",
        "property": "payload.uplink_message.decoded_payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "c5894724022fa432",
                "b0ae6622d5641e23"
            ],
            [
                "f2d913b9a3e968ec",
                "17418613a6118294",
                "e579164cc31aee4d",
                "bdb8abfc15ca5ac3",
                "8fa967499a28a45b",
                "296d65d5edc0e0fc",
                "a20b07bf7433ef61"
            ]
        ]
    },
    {
        "id": "b0ae6622d5641e23",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "SMS",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c5894724022fa432",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "Mail",
        "func": "msg.topic = \"Alerta de desvio das condições de transporte\"\nmsg.payload = \"Os valores das condições normais para o transporte foram excedidos. Por favor verifique o equipamento de refrigeração.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9761bef847ac2f21",
        "type": "join",
        "z": "75574e5eea170178",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 870,
        "y": 1040,
        "wires": [
            [
                "7f5749c0468c8f0a"
            ]
        ]
    },
    {
        "id": "7f5749c0468c8f0a",
        "type": "change",
        "z": "75574e5eea170178",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "49bb1beecc36f8d0",
        "type": "mqtt out",
        "z": "75574e5eea170178",
        "name": "Settings",
        "topic": "v3/goods-temperature-tracker@ttn/devices/eui-a8610a3233436708/down/push",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f7ab06a16c405383",
        "x": 1120,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4d98b29236c0df74",
        "type": "debug",
        "z": "75574e5eea170178",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "914f4cd57e04968b",
        "type": "inject",
        "z": "75574e5eea170178",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,42,255,0]",
        "payloadType": "bin",
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "4205fa30f70a3d06"
            ]
        ]
    },
    {
        "id": "4205fa30f70a3d06",
        "type": "function",
        "z": "75574e5eea170178",
        "name": "function 1",
        "func": "return {\n  \"payload\": {\n    \"downlinks\": [{\n      \"f_port\": 15,\n      \"frm_payload\": msg.payload.toString(\"base64\"),\n      \"priority\": \"NORMAL\"\n    }]\n  }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1120,
        "wires": [
            [
                "49bb1beecc36f8d0"
            ]
        ]
    }
]